.meals {
  max-width:60rem;/* 960px */
  width:90%;
  margin:2rem auto;
  animation:meals-up 1s ease-out;
}

.meals ul {
  list-style:none;
  margin:0; padding:0;
}

@keyframes meals-up {
  from { /* 시작은 맨 아래에 */
      transform:translateY(5rem);
      opacity:0;
  }
  to {
    transform:translateY(0);
    opacity:1;
  }
}